
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
}

header {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

#count-books {
  text-decoration: underline;
}

.logo {
  height: 4rem;
  border-radius: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  height: 5rem;
  border-top: solid 1px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
