
* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 0;
}

header {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

#count-books {
  text-decoration: underline;
}

.logo {
  height: 4rem;
  border-radius: 50%;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 50px 100px;
}

.book-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cover {
  height: 250px;
  width: 170px;
}

.book-title {
  margin-top: 20px;
  font-size: 20px;
  width: 250px;
  text-align: center;
}

.comment-btn {
  margin: 20px;
  padding: 5px;
  font-size: 20px;
}

footer {
  width: 100%;
}

footer p {
  height: 5rem;
  border-top: solid 1px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.comment .book-div{
  max-width: 90%;
 
}
.detail{
  display: flex;
  gap: 4rem;
  margin: 2rem 0;
}
.comment .book-cover{
  width: 60%;
  height: 60vh;
 
}
.left p, .right p{
  margin-top: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input{
  height: 1rem;
}
.close{
  float: right;
  width: 2rem;
  height: auto;
}
.images{
  display: flex;
  align-items: start;
  max-width: 100%;
  justify-content: center;
}
.comment{

  left: 5rem;
  right: 5rem;
  top: 1rem;
  bottom: 1rem;
  padding: 2rem;
  position: fixed;
  transition: 200ms ease-in-out;
  border: 1px solid #ebecf0;
  border-radius: 10px;
  z-index: 50;
  background-color: white;
  width: 70vw;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.blur{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}