
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0 4rem;
}

header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

#count-books {
  text-decoration: underline;
}

.logo {
  height: 50px;
}
